{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-registration.css' %}">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    {% block title %}
        <title>Login</title>
    {% endblock title %}
</head>
<body>

    <div class="flex items-center justify-center h-screen">

        <div class="w-login-width mx-auto">

            <div class="logo text-center mb-8">
                <p class="text-3xl font-bold">Metro<span class="text-[#295CAB]">Plex</span></p>
                <p class="text-[#295CAB] font-semibold">For everyone</p>
            </div>

            {% block form %}

            <div class=" border  rounded-md bg-white shadow ">
                <div class="flex justify-between px-2 py-4 shadow-lg">
                    <a href="#" class="text-[#D7874D] text-s">Login</a>

                    <a href="#" class="text-[#D7874D] text-s">Forgot Password?</a>
                </div>

                <div class="p-2 py-4">
                    <input type="text" class="w-full bg-[#F3F7F8] h-10 border-opacity-60 border p-2 rounded text-sm my-2  focus:outline-blue-500" placeholder="Enter your email or mobile number">

                    <div class="password relative">
                        <input type="password" class="w-full bg-[#F3F7F8] h-10 border-opacity-60 border p-2 rounded text-sm my-2" placeholder="Enter your password">

                        <i class="fa fa-eye-slash password-eye absolute top-5 right-2 opacity-50 cursor-pointer hover:opacity-75"></i>
                    </div>
                    
                    <button class="bg-[#295CAB] w-full rounded text-sm font-semibold my-2 text-white p-2 ">Login</button>

                    <span class="block text-center text-gray-500 text-sm font-semibold my-1">OR</span>

                    <a href="{% url 'register' %}" class="underline text-[#295CAB] text-center block">Register</a>
                </div>
            </div>

            {% endblock form %}

        </div>
    </div>
</body>
</html>