{% extends 'login.html' %}
{% load static %}

{% block title %}
    <title>Register</title>
{% endblock title %}

{% block form %}
            <div class=" border  rounded-md bg-white shadow ">
                <div class="flex justify-between px-2 py-4 shadow-lg">
                    <a href="#" class="text-[#D7874D] text-s">Register</a>

                    <span></span>
                </div>

                <div class="p-2 py-4">
                    <form id="register-form">
                        {% csrf_token %}

                        <input type="email" name="email" class="w-full bg-[#F3F7F8] h-10 border-opacity-60 border p-2 rounded text-sm my-2  focus:outline-blue-500" placeholder="Enter your email or mobile number">

                        <div class="password relative">
                            <input type="password" name="password1" class="w-full bg-[#F3F7F8] h-10 border-opacity-60 border p-2 rounded text-sm my-2" placeholder="Enter your password">

                            <i class="fa fa-eye-slash password-eye absolute top-5 right-2 opacity-50 cursor-pointer hover:opacity-75"></i>
                        </div>
                        <input type="password" name="password2" class="w-full bg-[#F3F7F8] h-10 border-opacity-60 border p-2 rounded text-sm my-2" placeholder="Confirm password">

                        <button class="bg-[#295CAB] w-full rounded text-sm font-semibold my-2 text-white p-2 register-btn" type="submit">Register</button>
                    </form>
                    <span class="block text-center text-gray-500 text-sm font-semibold my-1">OR</span>

                    <a href="{% url 'login' %}" class="underline text-[#295CAB] text-center block">Login</a>
                </div>
            </div>
{% endblock form %}