<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="metroplex">
    <meta name="description" content="Metroplex is a well known sporting club  held in Dhaka bangladesh, People around 
    Dhaka playes different types of sport out there, like Badminton, Cricket, Football. Even there is a place for swimming
    too.">
    <link rel="stylesheet" href="../css/index.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <script src="../js/index.js"></script>
    <title>MetroPlex</title>
</head>

<body>

    <header>

        <nav>

            <div class="logo">
                <h2>Metro<span>Plex</span></h2>
            </div>

            <div class="nav-links">

                <ul class="desktop-nav-links">
                    <li class="active-nav" id="home-link"><i class="fa fa-house"></i> Home</li>
                    
                    <li id="upcoming-events-link"><i class="fa fa-hourglass-start"></i> Upcoming matches</li>
                    <li id="about-us-link"><i class="fa fa-circle-info"></i> About us</li>

                </ul>

                <button class="login-btn"><i class="fa fa-arrow-right-to-bracket"></i>  Login</button>

                <div class="ham-menu" onclick="toggle_nav()">

                    <div class="" id="nav-ham">
                        <div class="b1"></div>
                        <div class="b2"></div>
                        <div class="b1"></div>
                    </div>

                    <div class="d-none" id="nav-ham-cross">
                        <div class="c-b1"></div>
                        <div class="c-b2"></div>
                    </div>

                    <div class="mobile-nav d-none" id="mobile-nav">

                        <ul>
                            <li onclick="mobile_nav_click_check(this)" class="active-nav" id="home-link"><i class="fa fa-house"></i> Home</li>
                            <li onclick="mobile_nav_click_check(this)" id="upcoming-events-link"><i class="fa fa-hourglass-start"></i> Upcoming matches</li>
                            <li onclick="mobile_nav_click_check(this)" id="about-us-link"><i class="fa fa-circle-info"></i> About us</li>
                            <li onclick="mobile_nav_click_check(this)" id="login-link"><i class="fa fa-arrow-right-to-bracket"></i> Login</li>
                        </ul>

                    </div>
                </div>
                
            </div>

        </nav>

    </header>


    <section class="container" id="container"></section>

    <footer>

        <div class="footer-container">
        
            <div class="made-by">
                <p>Developed by</p>
                <img draggable="false" src="../img/bug-ranger-logo.png" alt="BugRanger Company Logo">
            </div>

            <div class="terms-privacy">
                <a href="#">Privacy Policy</a>
                <span>|</span>
                <a href="#">Terms and Conditions</a>
            </div>

            <div class="company-logo">

                <div class="logo">
                    <h2>Metro<span>Plex</span></h2>
                    <p>For everyone</p>
                </div>
            </div>

        </div>

    </footer>



</body>

</html>